#canvas {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.clipboardback {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    background: none;
    transition: all 0.3s linear;
}

.clipboard {
    position: relative;
    float: right;
    width: 320px;
    right: -300px;
    height: 100%;
    transition: all 0.3s ease-out;
}

#clipboardbtn {
    position: absolute;
    width: 20px;
    height: fit-content;
    top: 50%;
    bottom: 50%;
    margin: auto;
    pointer-events: visible;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-style: none;
    outline: none;
    float: left;
    background: black;
    color: white;
    padding-top: 4px;
    transition: all 0.3s linear;
    font-size: 20px;
    font-weight: bold;
    word-wrap: break-word;
}

#clipboardbox {
    position: relative;
    width: 300px;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    float: right;
    background: white;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.clipboardback-open {
    background: rgba(0, 0, 0, 0.6);
}

.clipboard-open {
    right: 0;
}

#clipboardtxt {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: auto;
    resize: none;
    word-break: break-all;
}